.cell {
    position: relative;
    width: 100%;
    border: 1px solid lightslategrey;
    background-color: whitesmoke;
}

.cell:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.cell-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cellTop {
    padding: 2px;
    font-size: .8em;
    text-overflow: wrap;
}

.cellCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: medium;
}

.cell-selected {
    background-color: #ccffcc;
}

.cell-value {
    font-size: 2.5em;
    font-weight: bold;
    color: #444444;
}

.cell-value-hint {
    font-size: 2.5em;
    font-weight: bold;
    color: navy;
}

.cell-error {
    color: red;
}
