$width: 604px;
$height: 604px;

.detail-content {
    width: $width;
    margin-bottom: 10px;
}

summary:focus {
    outline: none;
}

details:focus {
    outline: none;
}

.btn {
    margin: 1em;
}

.key-button {
    margin: 10px 10px;
    width: 60px;
    height: 50px;
    color: navy;
    font-size: 1.5em;
}

.key-button-clr {
    margin: 10px 10px;
    width: 100px;
    height: 50px;
    color: navy;
    font-size: 1.5em;
}

.key-button-reveal {
    margin: 10px 10px 10px 35px;
    width: 80px;
    height: 40px;
    color: navy;
    font-size: 1em;
}

.hint-button {
    margin: 5px;
    width: 80px;
    height: 40px;
    color: navy;
}

.hint-active {
    background-color: lightgreen;
}

.wrapper {
    width: $width;
    height: $height;
    margin: 0px 20px 20px 20px;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        width: $width;
        height: $height;
        margin: 0px 0px 0px 0px;
    }
}

.page-grid {
    display: grid;
    padding: 3px;
    gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header"
        "options"
        "board"
}

.header-section {
    grid-row: 1 / 2;
}

.board-section {
    grid-row: 3 / 4;
    //height:400px;
    width: 400px;
    height: fit-content;
}

.option-section {
    grid-row: 2 / 3;
}

@media only screen and (max-width: 600px) {
    .page-grid {
        display: grid;
        padding: 20px 3px;
        gap: 1px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "board"
            "header"
            "options"
    }

    .board-section {
        grid-row: 1 / 2;
    }

    .header-section {
        grid-row: 2 / 3;
    }

    .option-section {
        grid-row: 3 / 4;
    }
}

.matrix-layout {
    //transform: scale('${scale}');
    margin: 0px;
    display: grid;
    padding: 3px;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr) 2px repeat(3, 1fr) 2px repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 1px repeat(3, 1fr) 1px repeat(3, 1fr);
    grid-template-areas:
        "cell11 cell12 cell13 . cell14 cell15 cell16 . cell17 cell18 cell19"
        "cell21 cell22 cell23 . cell24 cell25 cell26 . cell27 cell28 cell29"
        "cell31 cell32 cell33 . cell34 cell35 cell36 . cell37 cell38 cell39"
        ". . . . . . . . . . ."
        "cell41 cell42 cell43 . cell44 cell45 cell46 . cell47 cell48 cell49"
        "cell51 cell52 cell53 . cell54 cell55 cell56 . cell57 cell58 cell59"
        "cell61 cell62 cell63 . cell64 cell65 cell66 . cell67 cell68 cell69"
        ". . . . . . . . . . ."
        "cell71 cell72 cell73 . cell74 cell75 cell76 . cell77 cell78 cell79"
        "cell81 cell82 cell83 . cell84 cell85 cell86 . cell87 cell88 cell89"
        "cell91 cell92 cell93 . cell94 cell95 cell96 . cell97 cell98 cell99";
    border: 1px solid lightslategrey;
    background-color: black;
}

@for $x from 1 through 9 {
    @for $y from 1 through 9 {
        .cell-#{$x}#{$y} {
            grid-area: cell#{$x}#{$y};
        }
    }
}


